version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: ferreteria-db
    restart: always
    environment:
      MYSQL_DATABASE: ferreteria_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ferreteria-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/ferreteria_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - PORT=8080
    depends_on:
      - db

volumes:
  mysql_data:
